.com {
  font-size: 14px;
  background-color: white;

  .legends {
    display: flex;
    flex-wrap: wrap;
    max-height: 36px;
    margin-right: 11px;
    overflow-y: auto;
    li {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      padding: 2px 10px;
      > span:first-of-type {
        display: inline-block;
        width: 22px;
        height: 14px;
        border-radius: 2px;
        background-color: aquamarine;
        margin-right: 4px;
      }
      > span:last-of-type {
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
